---
import config from '../../../site.config'

const { host, } = config
---

<footer>
  <a href="https://news.abengkris.com/2024/05/apa-itu-nostr-panduan-pemula-untuk.html"><strong>Apa itu Nostr?</strong></a><br />
&copy; 2024 <a href="/">{host}</a>
</footer>

<style>
  footer {
    border-top: 1px solid rgb(var(--accent));
    font-size: 70%;
    margin-top: 2rem;
    padding: 0.5rem 0 3rem 0;
    text-align: center;
  }
</style>
