---
import Donation from './Donation.astro';
import Registration from './Registration/Registration.astro';
import { UserCount } from './UserCount.tsx';

import config from '../../../site.config'

const {
	host,
	donationLNUrl,
	registrationDisabled,
} = config
---

<Registration disabled={registrationDisabled} host={host} />
<UserCount client:load />
<section className="box user-count">
<a href="https://blog.indonostr.xyz/2024/05/apa-itu-nostr-panduan-pemula-untuk.html">Apa itu Nostr?</a>
</section>
<Donation lnUrl={donationLNUrl} />
